@model BO.UserModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
<div class="container">
    @*<div class="row">
            <div class="form-group">
                @Html.LabelFor(expression: model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(expression: model => model.FirstName, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>*@
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(expression: model => model.UserName, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(expression: model => model.UserName, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(expression: model => model.UserName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(expression: model => model.UserEmail, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(expression: model => model.UserEmail, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(expression: model => model.UserEmail, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(expression: model => model.UserAddress, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(expression: model => model.UserAddress, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(expression: model => model.UserAddress, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(expression: model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(expression: model => model.PhoneNumber, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(expression: model => model.PhoneNumber, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(expression: model => model.Password, htmlAttributes: new { @class = "control-label" })
            @Html.PasswordFor(expression: model => model.Password, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(expression: model => model.Password, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(expression: model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
            @Html.PasswordFor(expression: model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(expression: model => model.ConfirmPassword, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="submit" value="Save" name="save" class="btn btn-primary" />
        </div>
    </div>
</div>
}